@media screen and (max-width: 1200px) {
  .main_title h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 950px) {
  body {
    display: block;
    align-items: center;
  }
}
