@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Playfair+Display:ital,wght@1,500&family=Poppins&display=swap");

/* General styles */
body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background: rgba(23, 162, 184, 0.3);
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

/* Top Section */
#hero {
  background-color: #f0f0f0;
  text-align: center;
}

#hero img {
  max-width: 100%;
  height: 100%;
}

/* Review Section */

.wrapper {
  cursor: default;
  padding: 20px;
  margin: auto;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .box {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 25px;
  margin: 10px;
  width: calc(33% - 10px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper .box i.quote {
  font-size: 20px;
  color: #17a2b8;
}

.wrapper .box .content {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box .info .name {
  font-size: 17px;
  font-weight: 600;
}

.wrapper .box .info .stars {
  margin-top: 2px;
}

.box .info .stars {
  margin-top: 2px;
  color: #17a2b8;
}

.review {
  display: grid;
  place-items: center;
}
/* Charity Section */
#charity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7f5ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

#charity h2 {
  color: #17a2b8;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
}

.charity-total {
  margin-bottom: 20px;
}

.raised-amount {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.charity-quote blockquote {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  quotes: "“" "”" "‘" "’";
}

.charity-quote blockquote:before {
  content: open-quote;
  font-size: 50px;
  line-height: 0;
  margin-right: 10px;
  vertical-align: -20px;
  color: #17a2b8;
}

.charity-quote blockquote:after {
  content: close-quote;
  font-size: 50px;
  line-height: 0;
  margin-left: 10px;
  vertical-align: -20px;
  color: #17a2b8;
}

/* Contact Section */
#contact {
  text-align: center;
  background-color: #ffffff;
  padding: 50px 20px; /* Ample padding for a spacious layout */
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: auto; /* Center the section */
  max-width: 600px; /* Not too wide for readability */
}

#contact p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

#contact b {
  font-weight: 600;
}

#contact .fa-phone {
  /* Adjustments for the phone icon */
  margin-left: 5px;
}

#contact p:last-child {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .wrapper .box {
    width: calc(75% - 10px);
    margin: 10px 0;
  }
}

@media (max-width: 702) {
  .wrapper .box {
    width: 100%;
  }
  p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #charity {
    flex-direction: column;
  }
}
