@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Playfair+Display:ital,wght@1,500&family=Poppins&display=swap");

/* General styles */
body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background: rgba(23, 162, 184, 0.3);
}

section {
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 1200px;
}

/* Top Section */
#hero {
  background-color: #f0f0f0;
  text-align: center;
}

#hero img {
  max-width: 100%;
  height: 100%;
}

.intro_text {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}
